.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 208px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar {
  height: 48px;
  width: 1232px;
  left: 208px;
  top: 0px;
  border-radius: 0px;
  padding: 0px, 16px, 0px, 16px;
  background-color: rgba(216, 249, 252, 0.15);
  justify-content: space-between;
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
  outline: unset;
}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width: 190px; 
  overflow: hidden;
}
