.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 208px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar {
  height: 48px;
  width: 1070px;
  /* width: 1232px; */
  left: 208px;
  top: 0px;
  border-radius: 0px;
  padding: 0px, 16px, 0px, 16px;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(247, 247, 247);
  justify-content: space-between;
}

body {
  background-color: rgb(247, 252, 255);
  background-color: rgba(216, 249, 252, 0.15);
  justify-content: space-between;
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
  outline: unset;
}

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}

#cardOtp {
  background-color: white;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 32px;
}

#otpPage {
  background-color: #094C6F;
  font-family: Roboto;
}

#checkPage {
  background-color: #094C6F;
  font-family: Roboto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 208px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.btn-default {
  background-color: #229BD8;
  color: #ffffff
}

#link-birumuda {
  font-style: #229BD8;
}

#inputForm {
  background: #EEEEEE;
  border-radius: 4px;
}

#reason {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: static;
  left: 32px;
  top: 320px;
  background: #EEEEEE;
  border-radius: 12px;
}

#reason-text {
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 208px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 208px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#table-bg{
  background-color: #F6FBFF
}

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colors =====*/
  --first-color: white;
  --first-color-light: black;
  --white-color: black;
  /*===== Font and typography =====*/
  --body-font: 'Roboto';
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: gray;
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: #229BD8;
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: 300px;
    display: flex;
    align-items: stretch;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}



